[submodule "src/third_party/SWE-bench_Pro-os"]
	path = src/third_party/SWE-bench_Pro-os
	url = git@github.com:scaleapi/SWE-bench_Pro-os.git
[submodule "third_party/SWE-bench_Pro-os"]
	path = third_party/SWE-bench_Pro-os
	url = git@github.com:scaleapi/SWE-bench_Pro-os.git
